<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.bingzi.internal.mapper.user.UserUpdateMapper">
    <select id="queryUserByUser" resultType="online.bingzi.internal.entity.request.user.UserUpdate">
        select *
        from table_user
        where user = #{user}
    </select>
    <update id="updateUser" parameterType="online.bingzi.internal.entity.request.user.UserUpdate">
        update table_user
        set username=#{username},
            password=#{password},
            clazz=#{clazz}
        where user = #{user}
    </update>
</mapper>