<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.bingzi.internal.mapper.RecordMapper">
    <!--fun queryRecordByUser(user: String): EssentialsRecordData?-->
    <select id="queryRecordByUser" resultType="EssentialsRecordData">
        SELECT user, data
        FROM table_record
        WHERE user = #{user};
    </select>
    <!--fun insertRecordByUser(essentialsRecordData: EssentialsRecordData)-->
    <insert id="insertRecordByUser" parameterType="EssentialsRecordData">
        INSERT INTO table_record(user, data) value (#{user}, #{data});
    </insert>
    <!--fun deleteRecordByUser(user: String)-->
    <delete id="deleteRecordByUser">
        DELETE
        FROM table_record
        WHERE user = #{user};
    </delete>
    <!--fun updateRecordByUser(user: String, data: String)-->
    <update id="updateRecordByUser">
        UPDATE table_record
        SET data=#{data}
        WHERE user = #{user};
    </update>
</mapper>