<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.bingzi.internal.mapper.user.UserMapper">
    <!--queryUserByUser(user: String): EssentialsUserData?-->
    <select id="queryUserByUser" resultType="online.bingzi.internal.entity.essentials.EssentialsUserData">
        SELECT user, username, password, clazz
        FROM table_user
        WHERE user = #{user};
    </select>
    <!--queryUserByUserAndPassword(user: String, password: String): EssentialsUserData?-->
    <select id="queryUserByUserAndPassword" resultType="online.bingzi.internal.entity.essentials.EssentialsUserData">
        SELECT user, username, password, clazz
        FROM table_user
        WHERE user = #{user}
          AND password = #{password};
    </select>
    <!--insertUser(essentialsUserData: EssentialsUserData)-->
    <insert id="insertUser" parameterType="online.bingzi.internal.entity.essentials.EssentialsUserData">
        INSERT INTO table_user VALUE (NULL, #{user}, #{username}, #{password}, #{clazz});
    </insert>
    <!--deleteUserByUser(user: String)-->
    <delete id="deleteUserByUser">
        DELETE
        FROM table_user
        WHERE user = #{user};
    </delete>
    <!--deleteUserByUserAndPassword(user: String, password: String)-->
    <delete id="deleteUserByUserAndPassword">
        DELETE
        FROM table_user
        WHERE user = #{user}
          AND password = #{password};
    </delete>
    <!--updateUser(essentialsUserData: EssentialsUserData)-->
    <update id="updateUser" parameterType="online.bingzi.internal.entity.essentials.EssentialsUserData">
        UPDATE table_user
        SET password=#{password},
            username=#{username},
            clazz=#{clazz}
        where user = #{user};
    </update>
</mapper>